@main("index"){
	<!-- GET RID OF -->
	<div class="col-md-12 col-sm-12">
            <a href="portfolio-item.html">
               <img class="img-responsive img-portfolio img-hover" src="" alt=""> 
            </a>
        </div>	
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    GAA Score Center
                </h1>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Fixtures</h4>
                    </div>
                    <div class="panel-body">
                        <p> 	
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>				
			</p>
                        <a href="@routes.HomeController.fixtures()" class="btn btn-default">View All Fixtures</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Live &amp; Upcoming</h4>
                    </div>
                    <div class="panel-body">
                        <p>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td><br/>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td><br/>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td><br/>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td><br/>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td><br/>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td><br/>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td><br/>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td><br/>
			</p>
                        <a href="@routes.HomeController.live()" class="btn btn-default">View All Live</a>
                    </div>
                </div>
            </div>
 	<div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Results</h4>
                    </div>
                    <div class="panel-body">
                        <p> 	
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>				
			</p>
                        <a href="@routes.HomeController.fixtures()" class="btn btn-default">View All Fixtures</a>
                    </div>
                </div>

        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Stats</h4>
                    </div>
                    <div class="panel-body">
                        <p> 	
				<td>This is for the Stats</td> <br/>	
				<td>This is for the Stats</td> <br/>
				<td>This is for the Stats</td> <br/>
				<td>This is for the Stats</td> <br/>
				<td>This is for the Stats</td> <br/>
				<td>This is for the Stats</td> <br/>
				<td>This is for the Stats</td> <br/>
				<td>This is for the Stats</td> <br/>		
			</p>
                        <a href="@routes.HomeController.fixtures()" class="btn btn-default">View All Fixtures</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Article</h4>
                    </div>
                    <div class="panel-body">
                        <p>
				<td>Main Article </td> <br/>
				<td>Main Article </td> <br/>
				<td>Main Article </td> <br/>
				<td>Main Article </td> <br/>
				<td>Main Article </td> <br/>
				<td>Main Article </td> <br/>
				<td>Main Article </td> <br/>
				<td>Main Article </td> <br/>
			</p>
                        <a href="@routes.HomeController.live()" class="btn btn-default">View All Live</a>
                    </div>
                </div>
            </div>
 	<div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Table</h4>
                    </div>
                    <div class="panel-body">
                        <p> 	
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>
				<td>im1 </td> <td> HomeTeam v AwayTeam</td> <td>im2</td>				
			</p>
                        <a href="@routes.HomeController.fixtures()" class="btn btn-default">View All Fixtures</a>
                    </div>
                </div>

        </div>

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
               <hr>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
		

        </div>
        <!-- /.row -->

      
        <hr>
}
   
